@font-face{
    font-family:'futurak';
     src: url('https://staging.tossdown.site/assets/theme_one/fonts/futurak/futurak.ttf') format('truetype'),
     url('https://staging.tossdown.site/assets/theme_one/fonts/futurak/futurak.ttf') format('ttf');
     font-weight: normal;
     font-style: normal;
     font-variant-ligatures: no-common-ligatures;
   }
.nav{background-color: black;
    color: white;
    width: 100%;
    height: 100px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.list li{display: inline-block;
padding: 20px;}
.btn1{color: white;
    background-color: black;
    border-color: white;
    padding: 20px;
    border-radius: 50px;
    font-size: 15px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;}
    .btn2{color: white;
        background-color:red;
        padding: 20px;
        border-radius: 50px;
        font-size: 15px;
        font-family: Verdana, Geneva, Tahoma, sans-serif;}
    .btns{margin-top: 20px;}
    .list{margin-top: 30px;
        margin-left: 30px;
    }
    .arrow{font-size: 20px;}
    a:link, a:visited{color: white;
    text-decoration: none;}
    .logo-font{font-family: 'futurak';}
    .h1{font-size: 40px;
        line-height: 40px;
        font-weight: 500;
        margin: 20px 0 15px 0;
        text-align: center;}
        .para1{text-align: center;
        font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
        color:rgb(197, 192, 185);
    }
    .imgride{margin-bottom: 50px;}
    .sec1{background-color: black;
    color: white;
width: 100%;
height: max-content;}
    .imgbtn{display: flex;
            flex-direction: column;
            justify-content: center;
            flex-wrap: wrap;
            align-items: center;
            height: max-content;}
 .btn{border: 1px solid white;
                padding: 18px 50px;
                background-color: rgb(17, 16, 16);
                color: white;
                border-radius: 40px;
                font-size: 14px;}
  .brands{display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    padding: 15px;
    height: max-content;
background-color: black;
color: white;}
.h2{font-size: 40px;
    line-height: 40px;
    font-weight: 500;
    margin: 20px 0 15px 0;
    text-align: center;}
.para2{text-align: center;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color:rgb(197, 192, 185)}
.location{display: flex;
    flex-direction: row;
    margin-top: 60px;
    flex-wrap: wrap;
    justify-content: space-around;}
.city{font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 20px;
    letter-spacing: 8px;
    text-transform: uppercase;
    color: rgb(237, 28, 36);
    margin-bottom: 8px;}
.btn-dir{border: 0.5px solid white;
    padding: 12px 18px;
    background-color: rgba(3, 3, 3, 0);
    color: white;
    border-radius: 40px;
    font-size: 14px;
    margin-left: 8px;}
    .sec2{background-color: rgb(48, 47, 47);
    color: white;
width: 100%;
height: max-content;
padding-top: 70px;
padding-bottom: 70px;}
.sec3{background-color: black;
    color: white;
width: 100%;
height: max-content;
padding-top: 10px;}

.h3{font-size: 60px;
    line-height: 60px;
    font-weight: 500;
    margin: 20px 0 15px 0;
    text-align: center;}
    .para1{text-align: center;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color:rgb(197, 192, 185);}
    .sec4{background-color: rgb(48, 47, 47);
        color: white;
    width: 100%;
    height: max-content;
    padding-top: 10px;
padding-bottom: 100px;}
.greenbtn{background-color: green;}
.sec5{background-color: black;
    color: white;
width: 100%;
height: max-content;
padding-top: 10px;}
.opnsoon{font-size: 35px;}
    